html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/OpenSans/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/OpenSans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/OpenSans/opensans-italic-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/OpenSans/opensans-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/OpenSans/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/OpenSans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
    width: 1440px;
    margin: 0 auto;
}

#main-wrapper {
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-flow: row;
    width: 1440px;
    height: 90px;
    background-color: #2e3844;
}

.logo {
    flex: 1;

}

.nav {
    flex: 3;
    margin: 0 auto;
}

.logo img {
    position: relative;
    left: 135px;
    top: 20px;
}
header .nav a img {
    display: none;
}
header h1 {
    position: relative;
    bottom: 23px;
    padding-left: 201px;
    font-family: "ralewaylight", Arial, sans-serif;
    font-size: 32px;
    color: #ffffff;
}

.nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    position: relative;
    top: 40px;
    margin: 0 auto;
}

.nav ul ul {
    display: none;
    position: absolute;
    padding-top: 10px;
    width: 200px;
    z-index: 10;
}

.nav ul ul a {
    color: #4e5860;
    text-transform: capitalize;
}

.nav ul ul li {
    float: none;
    width: 100%;
    background-color: white;
    padding: 15px 10px 15px 25px;
    margin: -1px;
}

.nav ul ul a:hover {
    border-bottom: none;
    color: red;
}

.nav li {
    font-family: "ralewaylight", Arial, sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 10px;
    padding-bottom: 25px;
    width: auto;
}
.nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}

.nav ul li:hover > ul {
    display: block;
}

.nav ul li:active > ul {
    display: block;
}

.slider {
    width: 1440px;
    margin: 0 auto;
    max-height: 500px;
}
.slider .slide-header img
 {
    padding: 15px 0;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 220px;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    width: 40px;
    height: 40px;
    font-size: 0;
}

.owl-carousel .owl-nav .owl-prev {
    background-image: url(../img/slider/ti-angle-left.png);
    background-repeat: no-repeat;
    left: 40px;
    position: absolute;
}

.owl-carousel .owl-nav .owl-next {
    background-image: url(../img/slider/ti-angle-right.png);
    background-repeat: no-repeat;
    left: 1380px;
    position: absolute;
}

.owl-carousel .owl-dots {
    position: absolute;
    left: 46.5%;
    top: 51%;
    width: 120px;
    height: 30px;
}

.owl-carousel .owl-dot {
    float: left;
    margin-left: 14px;
    width: 18px;
    height: 18px;
    border: 1px solid white;
}

.owl-carousel .owl-dots .active {
    background-color: white;
    border: 1px solid #abb3c0;
}

.owl-carousel .text-buttons {
    position: relative;
    bottom: 400px;
    left: 130px;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
}

.text-buttons .slide-header {
    width: 200px;
    height: 100px;
}

.text-buttons .slide-header h1 {
    font-family: "ralewaysemibold", Arial, sans-serif;
    font-size: 70px;
    color: white;
}

.text-buttons p {
    font-family: "ralewaylight", Arial, sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    max-width: 950px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.text-buttons button {
    margin: 25px 0;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    font-size: 16px;
}

.text-buttons button:hover,
.text-buttons button:active {
    border: 1px solid red;
    background-color: red;
}

button:active, button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

.main-page {
    position: relative;
    color: #272d32;
    background-color: #FFFFFF;
}

.main-page .border-frame {
    position: absolute;
    top: -20px;
    z-index: 100;
}

.about-us {
    display: block;

}

.about-us .title {
    display: block;
    padding-left: 135px;
    padding-top: 100px;
}

.about-us .items {
    display: block;
    margin: 0 20px 80px 0;
    padding-left: 10px;
    padding-top: 50px;
}

.main-page .about-us h1 {
    font-family: "ralewaysemibold", Arial, sans-serif;
    font-size: 45px;
}

h1 {
    font-family: "ralewaysemibold", Arial, sans-serif;
    font-size: 45px;

}

.main-page .about-us button {
    width: 240px;
    height: 50px;
    border: 1px solid red;
    background-color: red;
    font-family: "ralewaysemibold", Arial, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main-page .title p {
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 18px;
    padding-top: 10px;
}

.about-us .button p {
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 24px;
    padding-bottom: 80px;
    line-height: 1.5;
}

.about-us .button {
    padding-left: 135px;
    min-height: 200px;
    margin-right: 40px;
    padding-top: 50px;
    width: 250px;
}

.item {
    display: inline-block;
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 18px;
    min-height: 270px;
    margin-right: 40px;
    width: 280px;
    -webkit-background-size: cover;
    background-size: cover ;
    background: url("../img/about-us/outline.png") no-repeat;
}
.button-and-items {
    display: flex;
}
.item h2 {
    font-family: "open_sansbold", Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 50px 20px 15px 85px;
}

.item:hover h2 {
    text-decoration: underline;
}

.item p {
    padding: 5px 0 25px 20px;
    max-width: 220px;
}

.item-paragraph h2 {
    background: url("../img/about-us/ti-paragraph1.png") 20px 30px no-repeat;
}

.item-vector h2 {
    background: url("../img/about-us/ti-vector1.png") 20px 30px no-repeat;
}

.item-ruler h2 {
    background: url("../img/about-us/ti-ruler-alt1.png") 20px 30px no-repeat;
}

.item-paragraph:hover h2 {
    background: url("../img/about-us/ti-paragraph2.png") 20px 30px no-repeat;
}

.item-vector:hover h2 {
    background: url("../img/about-us/ti-vector2.png") 20px 30px no-repeat;
}

.item-ruler:hover h2 {
    background: url("../img/about-us/ti-ruler-alt2.png") 20px 30px no-repeat;
}

#parallax_layer2 {
    background: #d14b3a;
    min-height: 500px;
    color: #FFFFFF;
    padding: 80px 0;
}
.parallax img {
    position: relative;
    bottom: 80px;
    left: 706px;
}
.parallax h1 {
    text-align: center;
    background: url("../img/parallax/header-line-white.png") 670px 60px no-repeat;
    padding-bottom: 20px;
}

.parallax p {
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}

#parallax_layer1 {
    display: block;
    font-family: "open_sanslight_italic", Arial, sans-serif;
    font-size: 30px;
    margin: 60px 0 0 300px;
    max-width: 900px;
    text-align: left;
    padding: 25px 0 0 25px;
    background: url("../img/parallax/quote-brackets.png") 0 0 no-repeat;
}

#parallax_layer1 .author {
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 30px;
}

.stats {
    display: flex;
    flex-flow: row;
    background-color: #656d7a;
    color: #FFFFFF;
    padding: 100px 150px 100px 200px;
}

.stats div {
    flex: 1;
}

.stats span {
    font-family: "ralewayregular", Arial, sans-serif;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 70px;
}

.stats p {
    font-family: "ralewaylight", Arial, sans-serif;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 70px;
}

.stats-user {
    background: url("../img/stats/ti-user.png") no-repeat;
}

.stats-products {
    background: url("../img/stats/ti-shopping.png") no-repeat;
}

.stats-comments {
    background: url("../img/stats/ti-comments.png") no-repeat;
}

.stats-code {
    background: url("../img/stats/ti-files.png") no-repeat;
}



.portfolio {
    background: #FFFFFF;
}

.portfolio-header {
    text-align: center;
    padding-top: 100px;
}

.portfolio-header h1 {
    padding-bottom: 10px;
}

.portfolio .gallery {
    display: flex;
    flex-flow: row wrap;
    padding: 70px 0 0;
}

.portfolio .gallery-item {
    background: #656d78;
    width: 360px;
    height: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #6d747f;
    background: url("../img/portfolio/ny.jpg") 0 0 no-repeat;
}

.portfolio .hover-text {
    display: none;
}
.portfolio .gallery-item:hover .hover-item-first,
.portfolio .gallery-item:active .hover-item-first{
    display: block;
    text-align: center;
    color: #FFFFFF;
    width: 360px;
    height: 239px;
    border: none;
    background: url("../img/portfolio/hover.png") 0 170px no-repeat, url("../img/portfolio/ny.jpg") 0 0 no-repeat;
}

.portfolio .gallery-item:hover .hover-item-first,
.portfolio .gallery-item:active .hover-item-first{
    display: block;
    text-align: center;
    background: url("../img/portfolio/hover.png") 0 170px no-repeat, url("../img/portfolio/ny.jpg") 0 0 no-repeat;
    color: #FFFFFF;
    width: 360px;
    height: 239px;
    border: none;
}

.portfolio .gallery-item:hover .hover-item-second,
.portfolio .gallery-item:active .hover-item-second{
    display: block;
    text-align: center;
    background: url("../img/portfolio/hover.png") 0 170px no-repeat, url("../img/portfolio/ny3.jpg") 0 0 no-repeat;
    color: #FFFFFF;
    width: 360px;
    height: 239px;
    border: none;
}

.portfolio .gallery-item:hover .hover-item-third,
.portfolio .gallery-item:active .hover-item-third{
    display: block;
    text-align: center;
    background: url("../img/portfolio/hover.png") 0 170px no-repeat, url("../img/portfolio/ny7.jpg") 0 0 no-repeat;
    color: #FFFFFF;
    width: 360px;
    height: 239px;
    border: none;
}

.portfolio .gallery-item:hover .gallery-item,
.portfolio .gallery-item:active .gallery-item{
    background: url("../img/portfolio/ny4.jpg") no-repeat;
}

.portfolio .hover-text h2 {
    font-family: "open_sansbold", Arial, sans-serif;
    font-size: 20px;
    padding: 40px 20px 20px;
}

.portfolio .hover-text p {
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 15px;

}

.hover-options {
    position: relative;
    top: 100px;
    left: 200px;
    width: 100px;
}

.hover-text button {
    border: none;
    width: 40px;
    height: 30px;
    z-index: 20;
}

.hover-text .link {
    background: url("../img/portfolio/ti-link.png") no-repeat;
}

.portfolio .link:hover,
.portfolio .link:active {
    background: url("../img/portfolio/ti-link2.png") no-repeat;
}

.portfolio .zoom {
    background: url("../img/portfolio/ti-zoom-in.png") 15px 0 no-repeat;
}

.portfolio .button-view {
    margin: 50px 45%;
}

.portfolio .button-view button {
    border: 1px solid red;
    background-color: transparent;
    color: red;
    font-size: 16px;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
}

.portfolio .button-view button:hover,
.portfolio .button-view button:active {
    border: 1px solid red;
    background-color: red;
    color: #FFFFFF;
}

.partners {
    border-top: 1px solid #6d747f;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 100px 150px;
}

.partners div {
    border: 1px solid #e6e9ed;
    vertical-align: middle;
}

.partners img {
    padding: 30px 10px 20px;
}

.contacts {
    padding: 50px 100px 50px 150px;
}

.contacts p,
.contacts a {
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 18px;
    color: #4e5860;
    padding: 15px 0;
}

.contact-area {
    display: flex;
    flex-flow: row;
}

.contact-info div p,
.contact-info div a {
    padding: 40px 140px 40px 120px;
    font-size: 14px;
    width: 160px;
    line-height: 1.5;
    text-decoration: none;
}

.contact-area .address p {
    /*width: 140px;*/
}

.contact-area .address {
    background: url("../img/contacts/ti-location-pin.png") 30px 40px no-repeat;
}

.contact-area .mail:hover a {
    color: red;
}
.contact-area .mail a {
    background: url("../img/contacts/ti-email.png") 30px 40px no-repeat;
}

.contact-area .phone {
    background: url("../img/contacts/ti-mobile.png") 30px 40px no-repeat;
}

.contact-info {
    flex: 1;
}

.message {
    flex: 2;
    padding-top: 40px;
    font-family: "open_sanslight_italic", Arial, sans-serif;
}

.message input {
    width: 370px;
    height: 59px;
    font-size: 15px;
    font-style: italic;
    padding-left: 10px;
    margin: 10px 25px 10px 0;
    box-sizing: border-box;
    border: 1px solid #aab2bd;
    -moz-border-image: -moz-linear-gradient(top, #ffffff 0%, #aab2bd 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ffffff 0%, #aab2bd 100%);
    border-image: linear-gradient(to bottom, #ffffff 0%, #aab2bd 100%);
    border-image-slice: 1;
}

.message input[name="subject"] {
    width: 770px;
}

.message textarea {
    width: 770px;
    height: 250px;
    font-size: 15px;
    font-style: italic;
    padding-left: 10px;
    padding-top: 20px;
    margin: 10px 25px 10px 0;
    box-sizing: border-box;
    resize: none;
    border: 1px solid #aab2bd;
    -moz-border-image: -moz-linear-gradient(top, #ffffff 0%, #aab2bd 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #ffffff 0%, #aab2bd 100%);
    border-image: linear-gradient(to bottom, #ffffff 0%, #aab2bd 100%);
    border-image-slice: 1;
}

input, textarea {
    outline: none;
}
.button-send {
    margin: 0 auto;
}
.button-send button {
    margin: 20px auto 0;
    font-size: 14px;
    width: 120px;
    height: 40px;
    border: 1px solid red;
    background-color: transparent;
    color: red;
}
.button-send button:hover {
    border: 1px solid red;
    background-color: red;
    color: #FFFFFF;
}
.footer {
    display: flex;
    align-content: center;
    background: #303030;
    color: #e6e9ed;
    height: 150px;
}

.social-links {
    flex: 2;
}

.social-links ul {
    padding: 60px 0 0 150px;
}

.social-links ul li {
    display: inline;
    padding-right: 40px;
}

.footer-logo {
    flex: 1;
    text-align: center;
    padding-left: 60px;
    background: url("../img/header/logo.png") 160px 30px no-repeat;
}

.footer-logo h1 {
    padding: 100px 0 0;
    font-family: "ralewaylight", Arial, sans-serif;
    font-size: 32px;
}

.copyright {
    flex: 2;
    padding-top: 60px;
    padding-left: 90px;
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 14px;
}
.fixed {
    position: fixed;
    width: 10px;
    height: 10px;

    right: 90px;
    bottom: 118px;
}
.top-button {
    width: 15px;
    height: 15px;
    border: 1px solid #57595b;
    background: #57595b url("../img/footer/ti-angle-up.png") 9px 13px no-repeat;
    text-align: center;
    padding: 20px 10px 1px 25px;
    position: relative;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    color: #fff;
    font-family: "ralewaylight", Arial, sans-serif;
    font-size: 12px;
}



@media (min-width: 970px) and (max-width: 1439px) {
    #main-wrapper {
        width: 970px;
        margin: 0 auto;
    }
    body {
        width: 970px;
        margin: 0 auto;
    }
    .main-page {
        margin: 0 auto;
    }
    header {
    width: 970px;
}
    .logo img {
        position: relative;
        left: 100px;
        top: 20px;
    }
    header .nav a img {
        display: none;
    }
    header h1 {
        position: relative;
        bottom: 23px;
        padding-left: 155px;
        font-size: 32px;
    }
    .nav {
        flex: 4;
        margin-bottom: -11px;
        margin-left: 10px;
    }
    .nav ul {
        position: relative;
        top: 40px;
        width: 700px;
    }
    .nav li {
        font-size: 16px;
        margin-left: 40px;
    }
    .slider {
        width: 970px;
        margin: 0 auto;
        max-height: 340px;
    }
    .text-buttons .slide-header h1 {
        font-size: 50px;
    }
    .owl-carousel .text-buttons {
        bottom: 300px;
        left: 100px;
    }
    .text-buttons .slide-header {
        width: 200px;
        height: 80px;
    }
    .text-buttons p {
        font-size: 40px;
        max-width: 800px;
    }
    .text-buttons button {
         margin: 35px 0;
         width: 100px;
         height: 35px;
         font-size: 11px;
     }
    .owl-carousel .owl-nav {
        position: absolute;
        top: 165px;
    }
    .owl-carousel .owl-nav .owl-next {
        left: 900px;
    }
    .owl-carousel .owl-dot {
        float: left;
        margin-left: 10px;
        width: 15px;
        height: 15px;
}
    .main-page .border-frame {
        display: none;
    }
    .about-us .title {
        padding: 50px 100px 0 100px;
        margin-bottom: 20px;
        min-height: 60px;
    }
    .about-us .items {
        margin: 0 20px 80px 0;
        padding-left: 100px;
        padding-top: 10px;
        flex-wrap: wrap;

    }
    .about-us .button {
        padding:0 100px;
        margin-top: 60px;
        width: 850px;
        min-height: 100px;
    }
    .about-us .button p {
        display: inline-block;
        width: 450px;
        padding-bottom: 10px;
    }
    .item {
        margin-right: 10px;
        margin-top: 10px;
        width: 270px;
    }
    .button-and-items {
        display: block;

    }
    .items .button {
        min-height: 100px;
        margin-right: 10px;
    }
    .items .button p {
        font-size: 18px;
        padding-bottom: 20px;
        line-height: 1.5;
        width: 125px;
    }
    .main-page .about-us button {
        width: 180px;
        height: 40px;
        padding-left: 5px;
        font-size: 12px;
        margin-left: 80px;
        background: red url("../img/about-us/arrow.png") 152px 8px no-repeat;
    }
    .parallax img {
        display: none;
    }
    .parallax h1 {
        min-height: 70px;
        background: url(../img/parallax/header-line-white.png) 440px 60px no-repeat;
    }
    #parallax_layer1 {
        position: inherit;
        font-family: "open_sanslight_italic", Arial, sans-serif;
        font-size: 30px;
        margin: 0 0 10px 180px;
        max-width: 600px;
        text-align: left;
        line-height: 1.5;
        padding: 110px 0 0 35px;
        background: url(../img/parallax/quote-brackets.png) 0 105px no-repeat;
    }
    #parallax_layer2 {
        min-height: 400px;
    }
    .stats {
        padding: 50px 90px;
    }
    .stats span {
        font-size: 25px;
        padding-left: 60px;
    }
    .stats p {
        font-size: 16px;
        padding-top: 10px;
        padding-left: 60px;
    }
    .stats div {
        margin-right: 20px;
    }
    .portfolio .gallery-item:nth-child(odd) {
        margin-left: 130px;
    }
    .portfolio .button-view {
        margin: 45px 44%;
    }
    .portfolio .button-view button {
        font-size: 12px;
        width: 120px;
        height: 40px;
    }
    .partners {
        display: block;
        width: 530px;
        margin: 0 auto;
        padding: 100px 100px 20px 100px ;
    }
    .partners div {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 10px;
        height: 80px;
    }
    .contacts {
        padding: 50px 100px;
    }
    .contact-area {
        display: block;
    }
    .message textarea {
        font-family: Arial ;
    }
    .social-links {
        flex: 3;
    }
    .social-links ul {
        padding: 60px 0 0 100px;
    }
    .social-links ul li {
        padding-right: 25px;
    }
    .footer-logo {
        flex: 1;
        text-align: center;
        padding-left: 40px;
        background: url(../img/header/logo.png) 70px 30px no-repeat;
    }
    .copyright {
        flex: 3;
        padding-top: 60px;
        padding-left: 90px;
        font-family: "open_sanslight", Arial, sans-serif;
        font-size: 14px;
    }
    .top-button {
        bottom: 23%;
        right: 5%;
    }


}
@media (min-width: 800px) and (max-width: 969px) {
    #main-wrapper {
        width: 800px;
    }
    body {
        width: 800px;
    }
    .main-page {
        margin: 0 auto;
    }
    header {
        width: auto;
        height: 150px;
        flex-flow: column;
    }
    .logo img {
        left: 40%;
    }
    header h1 {
        padding-left: 380px;
    }
    header .nav a img {
        display: none;
    }
    header {
        display: block;
    }
    .nav {
        display: block;
    }
    .logo {
        position: inherit;
        display: block;
        height: 70px;
    }
    .nav ul {
        position: inherit;
        display: block;
        margin-top: 25px;
        margin-left: 30px;
        width: 780px;
    }
    .nav li {
        display: inline-block;
        margin-left: 30px;
    }
    .nav ul ul {
        padding-top: 65px;
    }
    .slider {
        width: 800px;
        margin: 0 auto;
        max-height: 260px;
    }
    .text-buttons .slide-header h1 {
        font-size: 38px;
    }
    .owl-carousel .text-buttons {
        bottom: 240px;
        left: 80px;
    }
    .text-buttons .slide-header {
        width: 200px;
        height: 80px;
    }
    .text-buttons p {
        font-size: 34px;
        max-width: 600px;
    }
    .text-buttons button {
        margin: 20px 10px 20px 0;
        width: 90px;
        height: 30px;
        font-size: 10px;
    }
    .owl-carousel .owl-nav {
        position: absolute;
        top: 130px;
    }
    .owl-carousel .owl-nav .owl-next {
        left: 740px;
    }
    .owl-carousel .owl-dot {
        float: left;
        margin-left: 10px;
        width: 15px;
        height: 15px;
    }
    .owl-carousel .owl-dots {
        top: 47%;
    }
    .main-page .border-frame {
        display: none;
    }
    .about-us {
        display: block;
    }
    .about-us .title {
        display: block;
        padding-left: 80px;
        padding-top: 80px;
    }
    .main-page .about-us h1 {
        font-size: 38px;
    }
    .main-page .title p {
        font-size: 16px;
    }
    .about-us .button {
        padding-left: 80px;
        margin-right: 40px;
        padding-top: 40px;
    }
    .about-us .button p {
        display: block;
        font-size: 20px;
        padding-bottom: 40px;
    }
    .button-and-items {
        display: block;
        /*flex-flow: column;*/
    }
    .about-us .items {
        /*flex: 1;*/
        display: inline-block;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 10px 10px 0;
        padding-left: 80px;
        padding-top: 50px;
        padding-right: 60px;
        /*width: 700px;*/
    }
    .item {
        width: 270px;
        margin: 20px 25px 20px 0;
        display: inline-block;
    }

    .parallax {
        height: 400px;
    }
    .parallax img {
        display: none;
    }
    h1 {
        font-size: 38px;
}
    .parallax h1 {
    background: url("../img/parallax/header-line-white.png") 355px 46px no-repeat;
    }
    .parallax p {
        font-size: 16px;
    }
    #parallax_layer1 {

        display: block;
        font-size: 22px;
        margin: 0 0 0 150px;
        max-width: 500px;
        padding: 25px 0 0 25px;
    }
    #parallax_layer2 {
        min-height: 300px;
        padding: 50px 0;
    }
    .stats {
        padding: 30px 80px;
    }
    .stats span {
        font-size: 22px;
        padding-left: 60px;
    }
    .stats p {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 60px;
    }
    .stats div {
        margin-right: 20px;
    }
    .portfolio-header {
        text-align: center;
        padding-top: 60px;
    }
    .portfolio .gallery {
        display: flex;
        flex-flow: row wrap;
        padding: 50px 0 0;
    }
    .portfolio .gallery-item:nth-child(odd) {
        margin-left: 40px;
    }
    .portfolio .button-view {
        margin: 45px 44%;
    }
    .portfolio .button-view button {
        font-size: 12px;
        width: 120px;
        height: 40px;
    }
    .contacts {
        padding: 10px 20px 10px 0;
    }
    .partners {
        display: block;
        flex-wrap: wrap;
        width: 490px;
        margin-left: 0;
        padding-left: 160px;
        text-align: center;
    }
    .partners div {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .contact-area {
        display: block;
        /*flex-flow: column;*/
    }
    .contacts {
        padding: 0 100px 50px 100px;
    }
    .contact-info div p, .contact-info div a {
        padding: 35px 140px 34px 100px;
    }
    .message {
        padding-top: 10px;
    }
    .message input {
        width: 90%;
    }
    .message input[name="subject"] {
        width: 90%;
    }
    .message textarea {
        width: 90%;
        font-family: "open_sans_italic", Arial, sans-serif;
    }

    .social-links {
        flex: 3;
    }
    .social-links ul {
        padding: 60px 0 0 60px;
    }
    .social-links ul li {
        padding-right: 20px;
    }
    .footer-logo {
        flex: 1;
        text-align: center;
        padding-left: 40px;
        background: url(../img/header/logo.png) 70px 30px no-repeat;
    }
    .footer-logo h1 {
        padding-left: 12px;
    }
    .copyright {
        flex: 3;
        padding-top: 60px;
        padding-left: 70px;
    }










    .top-button {
        display: none;
    }
}
@media (min-width: 600px) and (max-width: 799px) {
    #main-wrapper {
        width: 600px;
    }
    body {
        width: 600px;
    }
    header {
        display: block;
        width: 600px;
        height: 185px;
        flex-flow: column;
    }
    .logo img {
        position: relative;
        left: 40%;
    }
    .logo {
        display: block;
    }
    .nav {
        display: block;
    }
    header h1 {
        bottom: 23px;
        padding-left: 300px;
    }
    header .nav a img {
        display: none;
    }
    .nav ul {
        display: block;
        width: 600px;
        top: 15px;
        flex-flow: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: initial;
    }
    .nav li {
        display: inline-block;
        margin-left: 93px;
    }
    .nav ul ul {
        padding-top: 58px;
    }
    .slider {
        width: 600px;
        margin: 0 auto;
        max-height: 200px;
    }
    .text-buttons .slide-header h1 {
        font-size: 30px;
    }
    .owl-carousel .text-buttons {
        bottom: 200px;
        left: 70px;
    }
    .text-buttons .slide-header {
        width: 100px;
        height: 70px;
    }
    .text-buttons p {
        font-size: 26px;
        max-width: 400px;
    }
    .text-buttons button {
        margin: 15px 10px 20px 0;
        width: 90px;
        height: 30px;
        font-size: 10px;
    }
    .owl-carousel .owl-nav {
        position: absolute;
        top: 100px;
    }
    .owl-carousel .owl-nav .owl-next {
        left: 550px;
    }
    .owl-carousel .owl-nav .owl-prev {
        left: 30px;
    }
    .owl-carousel .owl-dots {
        display: none;
    }
    .main-page .border-frame {
        display: none;
    }
    .about-us {
        display: block;
    }
    .about-us .title {
        display: block;
        padding-left: 70px;
        padding-top: 40px;
    }
    .main-page .about-us h1 {
        font-size: 36px;
    }
    .main-page .title p {
        font-size: 14px;
    }
    .about-us .button {
        padding-left: 70px;
        margin-right: 35px;
        padding-top: 35px;
    }
    .about-us .button p {
        font-size: 20px;
        padding-bottom: 35px;
    }
    .button-and-items {
        display: block;

    }
    .about-us .items {
        display: block;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 20px 20px 0;
        padding-left: 70px;
        padding-top: 30px;
        padding-right: 60px;
        width: 350px;
    }
    .item {
        margin-bottom: 20px;
    }


    .parallax {
        min-height: 300px;
    }
    .parallax img {
        display: none;
    }
    h1 {
        font-size: 36px;
    }
    .parallax h1 {
        background: url("../img/parallax/header-line-white.png") 250px 46px no-repeat;
    }
    .parallax p {
        font-size: 14px;
    }
    #parallax_layer1 {
        top: 1400px;
        font-size: 22px;
        margin: 0 0 20px 80px;
        max-width: 420px;
        padding: 25px;
    }
    #parallax_layer2 {
        min-height: 300px;
        padding: 30px 0;
    }
    .stats {
        padding: 30px 10px 10px 70px;
        display: inline-block;
        width: 600px;
        box-sizing: border-box;
    }
    .stats span {
        font-size: 22px;
        padding-left: 25px;
    }
    .stats p {
        font-size: 15px;
        padding-top: 10px;
        padding-left: 25px;
    }
    .stats div {
        display: inline-block;
        margin-right: 50px;
        padding: 0 15px 20px 50px;
    }
    .portfolio-header {
        text-align: center;
        padding-top: 50px;
    }
    .portfolio .gallery {
        display: flex;
        flex-flow: column;
        padding: 50px 0 0;
    }
    .portfolio .gallery-item {
        margin-left: 120px;
    }
    .portfolio .button-view {
        margin: 40px 40%;
    }
    .portfolio .button-view button {
        font-size: 12px;
        width: 120px;
        height: 40px;
    }
    .contacts {
        padding: 10px 20px 10px 0;
    }
    .partners {
        display: block;
        flex-wrap: wrap;
        width: 500px;
        margin-left: 0;
        padding: 50px;
        text-align: center;
    }
    .partners div {
        display: inline-block;
        width: 180px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .contact-area {
        display: block;
    }
    .contacts {
        padding: 0 100px 50px 100px;
    }
    .contact-info div p, .contact-info div a {
        padding: 35px 140px 34px 100px;
    }
    .message {
        padding-top: 10px;
    }
    .message input {
        width: 90%;
    }
    .message input[name="subject"] {
        width: 90%;
    }
    .message textarea {
        width: 90%;
        font-family: "open_sans_italic", Arial, sans-serif;
    }
    .social-links {
        display: inline-block;
    }
    .social-links ul {
        padding: 60px 0 0 45px;
    }
    .social-links ul li {
        padding-right: 10px;
    }
    .footer-logo {
        display: inline-block;
        text-align: center;
        padding-left: 0;
        background: url(../img/header/logo.png) 35px 30px no-repeat;
    }
    .footer-logo h1 {
        padding-left: 15px;
    }
    .copyright {
        display: inline-block;
        padding-top: 60px;
        padding-left: 40px;
    }












    .top-button {
        display: none;
    }
}
@media (min-width: 480px) and (max-width: 599px) {
    #main-wrapper {
        width: 480px;
    }
    body {
        width: 480px;
    }
    header {
        width: 480px;
        height: 185px;
        display: block;
    }
    .logo img {
        position: relative;
        left: 35%;
    }
    header h1 {
        padding-left: 230px;
    }
    header .nav a img {
        display: none;
    }
    .nav {
        display: block;
        margin-bottom: 1px;
    }
    .nav ul {
        width: 480px;
        top: 15px;
        display: block;
    }
    .nav li {
        display: inline-block;
        margin-left: 60px;
    }
    .nav ul ul {
        padding-top: 58px;
    }
    .slider {
        width: 480px;
        margin: 0 auto;
        max-height: 160px;
    }
    .text-buttons .slide-header h1 {
        font-size: 25px;
    }
    .owl-carousel .text-buttons {
        bottom: 150px;
        left: 50px;
    }
    .text-buttons .slide-header {
        width: 100px;
        height: 45px;
    }
    .slider .slide-header img {
        padding: 5px 0;
    }
    .text-buttons p {
        font-size: 20px;
        max-width: 400px;
    }
    .text-buttons button {
        margin: 15px 10px 20px 0;
        width: 90px;
        height: 30px;
        font-size: 10px;
    }
    .owl-carousel .owl-nav {
        position: absolute;
        top: 67px;
    }
    .owl-carousel .owl-nav .owl-prev {
        background-size: 30%;
        left: 20px;
    }
    .owl-carousel .owl-nav .owl-next {
        background-size: 30%;
        left: 450px;
    }
    .owl-carousel .owl-dots {
        display: none;
    }
    .main-page .border-frame {
        display: none;
    }

    .about-us {
        display: block;
    }
    .about-us .title {
        display: block;
        padding-left: 50px;
        padding-top: 50px;
    }
    .main-page .about-us h1 {
        font-size: 32px;
    }
    .main-page .title p {
        font-size: 14px;
    }
    .about-us .button {
        padding-left: 50px;
        margin-right: 35px;
        padding-top: 35px;
    }
    .about-us .button p {
        font-size: 18px;
        padding-bottom: 20px;
    }
    .main-page .about-us button {
        font-size: 14px;
    }
    .button-and-items {
        display: block;
    }
    .about-us .items {
        flex: 1;
        display: block;
        margin: 0 20px 20px 0;
        padding-left: 90px;
        padding-top: 10px;
        padding-right: 60px;
        width: 300px;
    }
    .item {
        margin-bottom: 20px;
    }

    .parallax {
        min-height: 300px;
    }
    .parallax img {
        display: none;
    }
    h1 {
        font-size: 36px;
    }
    .parallax h1 {
        background: url("../img/parallax/header-line-white.png") 190px 46px no-repeat;
    }
    .parallax p {
        font-size: 14px;
    }
    #parallax_layer1 {
        font-size: 22px;
        margin: 85px 0 20px 80px;
        max-width: 420px;
        padding: 25px;
    }
    #parallax_layer1 .author {
        font-size: 28px;
    }
    #parallax_layer2 {
        min-height: 300px;
        padding: 30px 0;
    }
    .stats {
        padding: 40px 10px 10px 130px;
        /*flex-flow: column;*/
        display: block;
        width: 480px;
        box-sizing: border-box;
    }
    .stats span {
        font-size: 26px;
        padding-left: 35px;
    }
    .stats p {
        font-size: 18px;
        padding-top: 10px;
        padding-left: 35px;
    }
    .stats div {
        margin-right: 50px;
        padding: 0 15px 30px 50px;
    }

    .portfolio-header {
        text-align: center;
        padding-top: 40px;
    }
    .portfolio .gallery {
        display: flex;
        flex-flow: column;
        padding: 40px 0 0;
    }
    .portfolio .gallery-item {
        margin-left: 60px;
    }
    .portfolio .button-view {
        margin: 40px 39%;
    }
    .portfolio .button-view button {
        font-size: 11px;
        width: 110px;
        height: 40px;
    }
    .contacts {
        padding: 10px 20px 10px 0;
    }
    .partners {
        display: block;
        width: 350px;
        margin-left: 0;
        padding: 50px 65px;

    }
    .partners div {
        display: inline-block;
        /*flex: 1;*/
        width: 155px;
        height: 85px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .partners img {
        padding: 30px 10px 20px;
    }
    .contact-area {
        display: block;
    }
    .contacts {
        padding: 0 70px 50px 60px;
    }
    .contact-info div p, .contact-info div a {
        padding: 35px 140px 34px 100px;
    }
    .message {
        padding-top: 10px;
    }
    .message input {
        width: 90%;
    }
    .message input[name="subject"] {
        width: 90%;
    }
    .message textarea {
        width: 90%;
        font-family: "open_sans_italic", Arial, sans-serif;
    }
    .social-links {
        display: inline-block;
    }
    .social-links ul {
        padding: 60px 0 0 25px;
    }
    .social-links ul li {
        padding-right: 5px;
    }
    .footer-logo {
        display: inline-block;
        text-align: center;
        padding-left: 0;
        background: url(../img/header/logo.png) 35px 30px no-repeat;
    }
    .footer-logo h1 {
        padding-left: 15px;
    }
    .copyright {

        display: inline-block;
        padding-top: 50px;
        padding-left: 20px;
        line-height: 1.4;
    }












    .top-button {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 479px) {
    #main-wrapper {
        width: auto;
        margin: 0 auto;
    }
    body {
        width: auto;
        margin: 0 auto;
    }
    header {
        width:  auto;
        margin: 0 auto;
        min-height: 90px;
        flex-flow: row;
        flex-wrap: wrap;
    }
    .logo img {
        position: relative;
        left: 35%;
    }
    header h1 {
        padding-left: 50px;
        left: 37%;
    }
    header #click-me {
        width: 15px;
        height: 15px;
        padding: 0 5px 5px 5px;
        float: right;
        margin-right: 70px;
    }
    header #click-me img {
        display: block;
    }
    header .nav a img:hover .nav ul   {
        display: none;
    }
    header a.menu:active > .nav li {
        /*display: flex;*/
        /*flex: 1;*/
        /*width: auto;*/
        /*text-align: center;*/

    }
    .nav a:hover,
    .nav a:active{
        border-bottom: none;
    }
    .nav ul a:hover:first-child,
     .nav ul a:active:first-child{
        text-decoration: none;

     }
    .nav ul a:hover,
    .nav ul a:active{
        padding-bottom: 0;
        border-bottom: 1px solid red;
    }
    .nav {
        flex: 2;
        margin-bottom: 1px;
        width: auto;
        min-height: 90px;
        justify-content: space-between;
        margin-top: 20px;
    }
    .nav a {
        font-size: 15px;
    }
    .nav ul {
        margin: 28px 5px 5px 5px;
        width: auto;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        flex-grow: 1;
        z-index: 20;
        background: #2e3844;
        text-align: center;
    }
    #menu {
        display: none;
    }

    .nav ul li {
        margin: 0;
    }
    .nav ul ul {
        margin-top: 20px;
        width: 100px;
        height: 150px;
        box-sizing: border-box;
        margin-left: -50px;
        padding-top: 1px;
    }
    .nav ul ul a {
        font-size: 15px;
    }
    .nav ul ul li {
        padding: 8px 10px;
    }
    .slider {
        width: auto;
        margin: 0 auto;
        height: 78px;
    }
    .text-buttons .slide-header h1 {
        font-size: 19px;
        margin-left: 10px;
    }
    .owl-carousel .text-buttons {
        display: block;
        left: 20px;
        bottom: 107px;
    }
    .text-buttons .slide-header {
        width: 100px;
        height: 30px;
    }
    .slider .slide-header img {
        padding: 2px 0;
        margin-left: 10px;
    }
    .text-buttons p {
        font-size: 13px;
        width: auto;
        margin: 0 25px 0 10px;
    }
    .text-buttons button {
        margin: 10px 5px 5px 10px;
        width: 65px;
        height: 20px;
        font-size: 7px;
    }
    .owl-carousel .owl-nav {
        display: none;
    }

    .owl-carousel .owl-dots {
        position: absolute;
        left: 47%;
        top: 50%;
        width: 50px;
        height: 10px;
    }
    .owl-carousel .owl-dot {
        float: left;
        margin-left: 4px;
        width: 8px;
        height: 8px;
    }

    .main-page .border-frame {
        display: none;
    }
    .about-us {
        display: block;
        margin-top: 30px;
    }
    .about-us .title {
        display: block;
        padding-left: 30px;
        padding-top: 50px;
    }
    .main-page .about-us h1 {
        font-size: 25px;
    }
    .main-page .title p {
        font-size: 12px;
    }
    .about-us .button {
        padding-left: 30px;
        margin-right: 35px;
        padding-top: 35px;
        min-height: 150px;
    }
    .about-us .button p {
        font-size: 16px;
        padding-bottom: 20px;
    }
    .main-page .about-us button {
        font-size: 14px;
    }
    .button-and-items {
        display: block;
    }
    .about-us .items {
        display: block;
        margin: 0 0 20px 0;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        width: 320px;
        box-sizing: border-box;
    }
    .item {
        margin: 20px;
    }
    .item h2 {
        font-size: 18px;
    }
    .item p {
        font-size: 14px;
    }

    .parallax {
        min-height: 300px;
    }
    .parallax img {
        display: none;
    }
    h1 {
        font-size: 25px;
    }
    .parallax h1 {
        background: url(../img/parallax/header-line-white.png) 50% 30px no-repeat;
    }
    .parallax p {
        font-size: 14px;
        max-width: none;
        text-align: center;
        padding: 0 10px;
    }
    #parallax_layer1 {
        /*top: 1320px;*/
        font-size: 18px;
        margin: 70px 0 20px 30px;
        max-width: 420px;
        padding: 25px;
    }
    #parallax_layer1 .author {
        font-size: 24px;
    }
    #parallax_layer2 {
        min-height: 300px;
        padding: 30px 0;
    }
    .stats {
        padding: 30px 15% 30px 20%;
        /*flex-flow: column;*/
        display: block;
        width: auto;
        box-sizing: border-box;
    }
    .stats span {
        font-size: 25px;
        padding-left: 35px;
    }
    .stats p {
        font-size: 17px;
        padding-top: 10px;
        padding-left: 35px;
    }
    .stats div {
        margin-right: 10px;
        padding: 0 15px 30px 50px;
    }
    .portfolio-header {
        text-align: center;
        padding-top: 40px;
    }
    .portfolio .gallery {
        display: block;
        padding: 40px 0 0;
    }
    .portfolio .gallery-item {
        display: block;
        width: 320px;
        margin: 0 auto;
    }
    .portfolio .gallery-item .hover-text{
        max-width: 320px;
    }
    .portfolio .button-view {
        margin: 40px 39%;
    }
    .portfolio .button-view button {
        font-size: 11px;
        width: 110px;
        height: 40px;
    }
    .contacts {
        padding: 10px 20px 10px 0;
    }
    .partners {
        display: block;
        width: auto;
        margin: 0 auto;
        padding: 50px 100px;

    }
    .partners div {
        display: block;
        width: 180px;
        margin-bottom: 10px;
    }
    .partners img {
        padding: 30px 20px 20px;
    }
    .contact-area {
        display: block;

    }
    .contact-area .mail {
        margin-top: 20px;
    }
    .contacts {
        padding: 0 70px 50px 50px;
    }
    .contact-info div p, .contact-info div a {
        padding: 40px 0 10px 70px;
    }
    .message {
        padding-top: 10px;
    }
    .message input {
        width: 95%;
    }
    .message input[name="subject"] {
        width: 95%;
    }
    .message textarea {
        width: 95%;
        font-family: "open_sans_italic", Arial, sans-serif;
    }
    .footer {
        display: block;
        height: 180px;
        margin: 0 auto;
    }
    .social-links {
        display: inline;
    }
    .social-links ul {
        padding: 20px 0 10px 30%;
        display: block;
    }
    .social-links ul li {
        display: inline-block;
        padding-right: 15px;
        padding-bottom: 5px;
    }
    .footer-logo {
        display: inline-block;
        text-align: center;
        padding: 60px 10% 0 10%;
        background: url(../img/header/logo.png) 75px 1px no-repeat;
    }
    .footer-logo h1 {
        padding: 0 10px 15px 20px;

    }
    .copyright {
        display: inline-block;
        width: 100px;
        padding: 20px 10px 10px 0;
        margin-left: 2%;
        line-height: 1.4;
        font-size: 12px;
    }









    .top-button {
        display: none;
    }
}




